.abt-bckg{
  background-color: var(--about-backg);
}

.about {
  max-width: 1020px;
  margin: 0 auto;

  @include page-grid;

  gap: 24px;
  padding: 48px var(--padding-inl);

  @include on-tablet {
    padding-block: 120px;
    column-gap: 24px;
  }

  @include on-monitor {
    column-gap: 24px;
  }


  &_grid {
    grid-column: 1 / -1;
  }

  &__photo {
    position: sticky;
    z-index: -1;
    height: var(--footer-photo-h);
    background-image: url('/src/images/footer-bc.png');
    background-size: cover;
    background-position: top center;
    margin-bottom: 0;
    padding: 0;
  }

  &_t {
    font-weight: 700;
    font-style: Bold;
    font-size: var(--h2-f);
    line-height: var(--h2-f);
    letter-spacing: 0;
    margin: 0;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-monitor {
      grid-column: 1 / 6;
    }
  }

  &_p {
    margin-top: 0;
    font-weight: 400;
    font-style: Regular;
    font-size: var(--p-f);
    line-height: 140%;
    letter-spacing: 0.15px;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-monitor {
      grid-column: 7 / 12;
    }
  }
}
