@use './utils/mixxin' as *;
@use './utils/variables' as *;

.contacts {
  padding: 64px var(--padding-inl);

  @include on-tablet {
    padding-block: 120px;
  }
}

.contact {
  margin: 0;

  @include page-grid;

  column-gap: 48px;

  @include on-tablet {
    column-gap: 24px;
  }

  @include on-monitor {
    column-gap: 120px;
  }

  &_grid {
    grid-column: 1 / -1;
    &1 {
      @include on-monitor {
        grid-column: 1 / 6;
      }
    }

    &2 {
      @include on-monitor {
        grid-column: 8 / 9;
      }
    }
  }

  &_t {
    font-weight: 700;
    font-style: Bold;
    font-size: var(--h2-f);
    line-height: var(--h2-f);
    letter-spacing: 0;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &_inputs {
    &_i {
      box-sizing: border-box;
      display: block;
      margin-bottom: 16px;
      border: none;
      border-radius: 8px;
      background-color: var(--menu-backg);
      height: 48px;
      padding: 8px 16px;
      width: 100%;

      font-family: Manrope, sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: var(--input-f);
      line-height: 140%;
      letter-spacing: 0.15px;

      &:hover {
        border: 1px solid var(--input-b);
      }

      &:focus {
        outline: none;
        border: 1px solid var(--orange);
      }
    }

    &_i.area {
      min-height: 148px;
      resize: none;
    }
  }

  &_button {
    margin-top: 32px;
    width: 100%;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-radius: 8px;

    &_s {
      border: none;
      background-color: transparent;
      color: var(--white);
      text-align: center;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      background-color: var(--dark-blue);
    }

    &:active {
      background-color: var(--black);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    font-weight: 400;
    font-style: Regular;
    font-size: var(--input-f);
    line-height: 140%;
    letter-spacing: 0.15px;
    color: var(--grey);

    &_l {
      margin-top: 8px;
      display: block;
      text-decoration: none;
      color: var(--info-c);
      font-family: Manrope, sans-serif;
      font-weight: 400;
      font-style: Regular;
      font-size: var(--p-f);
      line-height: 140%;
      letter-spacing: 0.15px;
    }
  }
}
