.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 var(--padding-inl) var(--header-padding-bottom);
  background-image: url('/src/images/header-bc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__top {
    padding-block: var(--icons-s);
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    gap: var(--icons-s);
    align-items: center;
  }

  &__call{

    &-n{
      text-decoration: none;
      font-family: Inter, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: right;
      vertical-align: middle;
      text-transform: uppercase;
      color: transparent;
      transform: translateX(100%);
      transition: all var(transition-duration) ease;
    }

    &-b {
    width: var(--icons-s);
    height: var(--icons-s);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/images/Icon-Phone-call.svg');
    }

    &-b:hover + &-n,
    &-n:hover {
    color: var(--dark-blue);
    transform: translateX(0);
    }
  }

  &__h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: var(--h1-f);
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: var(--white);
  }
}
