.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--menu-backg);
  box-sizing: border-box;
  height: 100vh;
  padding: 0 var(--padding-inl) 40px;

  &:target {
    transform: translateX(0%);
  }

  &__nav {
    font-weight: 700;
    font-style: Bold;
    font-size: var(--menu-l-f);
    line-height: var(--menu-l-f);
    display: flex;
    flex-direction: column;
    gap: 32px;
    letter-spacing: 0;
    vertical-align: middle;
    margin-bottom: 48px;
  }

  &__contact {
    font-weight: 700;
    font-style: Bold;
    font-size: var(--p-f);
    line-height: 140%;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;

    &_num {
      text-decoration: none;
      color: var(--dark-blue);
      margin-bottom: 16px;
    }
    &_call {
      border-bottom: 1px solid var(--dark-blue);
      text-decoration: none;
      width: fit-content;
      color: var(--dark-blue);
    }
  }

  &_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 56px;
    }

    padding-block: var(--icons-s);
    align-items: center;
  }

  &__l {
    text-decoration: none;
    color: var(--l-color);
  }

  &__l:hover {
    text-decoration: underline;
    text-underline-offset: 8 px;
  }

  &__b {
    height: var(--icons-s);
    width: var(--icons-s);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/images/Icon-Burger-menu.svg');

    &:hover {
      background-image: url('/src/images/Icon-Burger-menu-hover.svg');
    }
  }

  &-close-b {
    height: var(--icons-s);
    width: var(--icons-s);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/src/images/Icon-Close.svg');
  }
}
