@use './utils/mixxin' as *;
@use './utils/variables' as *;

* {
  transition: all var(--transition-duration) var(--transition-timing);
}

.page {
  scroll-behavior: smooth;

  &__menu {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}

body {
  margin: 0;
  font-family: Manrope, sans-serif;
  color: var(--dark-blue);
}

main {
  padding-inline: var(--padding-inl);
  background-color: white;
}

footer {
  margin: 0;
}
