* {
  transition: all var(--transition-duration) var(--transition-timing);
}

.page {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;

  &__menu {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  width: 100%;
}

body {
  margin: 0;
  font-family: Manrope, sans-serif;
  color: var(--dark-blue);
  max-width: 100%;
  overflow-x: hidden;
}

main {
  padding-inline: var(--padding-inl);
  background-color: white;
}

footer {
  margin: 0;
}
