.recom {
  padding-top: 64px;

  @include on-tablet {
    padding-top: 120px;
  }
  &__title {
    margin: 0;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }

    font-weight: 700;
    font-style: Bold;
    font-size: var(--h2-f);
    line-height: var(--h2-f);
    letter-spacing: 0;
  }

  &__products {
    display: grid;

    @include page-grid;

    column-gap: 40px;

    @include on-tablet {
      column-gap: 56px;
    }

    @include on-tablet {
      column-gap: 24px;
    }

    &_photo {
      width: 100%;
    }

    &_title {
      margin: 0;
      margin-top: 24px;
      margin-bottom: 8px;
      font-weight: 700;
      font-style: Bold;
      font-size: var(--h3-f);
      line-height: 140%;
      letter-spacing: 0;
    }

    &_desc {
      margin: 0;
      margin-bottom: 12px;

      @include on-tablet {
        margin-bottom: 32px;
      }

      @include on-monitor {
        margin-bottom: 12px;
      }

      font-weight: 400;
      font-style: Regular;
      font-size: var(--p-f);
      line-height: 140%;
      letter-spacing: 0.15px;
    }

    &_price {
      margin: 0;
      font-weight: 700;
      font-style: Bold;
      font-size: var(--p-f);
      line-height: 140%;
      letter-spacing: 0;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include on-monitor {
      grid-column: span 4;
    }
  }
}
