:root {
  --menu-backg: #f9f9f9;
  --dark-blue: #1b2129;
  --l-color: #292929;
  --white: #fff;
  --orange: #f98921;
  --black: #000;
  --about-backg: #fcfaef;
  --input-b: #dbdbdb;
  --grey: #9393a3;
  --info-c: #191919;
  --icons-s: 24px;
  --h1-f: 36px;
  --h2-f: 32px;
  --h3-f: 18px;
  --p-f: 16px;
  --input-f: 14px;
  --menu-l-f: 22px;
  --h3-c-f: 18px;
  --padding-inl: 20px;
  --header-padding-bottom: 40px;
  --footer-photo-h: 200px;
  --transition-duration: 0.3s;
  --transition-timing: ease;
}

@include on-tablet {
  :root {
    --icons-s: 32px;
    --padding-inl: 72px;
    --h1-f: 48px;
    --h2-f: 40px;
    --h3-c-f: 24px;
    --header-padding-bottom: 64px;
    --footer-photo-h: 400px;
  }
}

@include on-monitor {
  :root {
    --padding-inl: 120px;
    --h1-f: 56px;
    --h2-f: 48px;
    --footer-photo-h: 460px;
  }
}
